@import "tailwindcss";

@theme {
  --color-primary: #0d7377;
  --color-primary-dark: #094d4f;
  --color-secondary: #c9a84c;
  --color-secondary-light: #e6c76e;
  --color-parchment-light: #faf8f5;
  --color-parchment: #f5f2ed;
  --color-charcoal: #1a1a2e;
  
  --font-family-vazirmatn: var(--font-vazirmatn);
  --font-family-inter: var(--font-inter);
}

body {
  background-color: var(--color-parchment-light);
  color: #1c1c1c;
}
